@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes colorChange {
    0% { background-color: #000000; }
    25% { background-color: #FF0000; }
    50% { background-color: #00FF00; }
    75% { background-color: #0000FF; }
    100% { background-color: #000000; }
}

.animated-bg {
    animation: colorChange 5s infinite;
}

.circular-text {
    @apply text-black; /* Default text color for light mode */
}

.dark .circular-text {
    @apply text-white; /* Text color changes to white in dark mode */
}